
input, button {
    margin: 1rem 0rem;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.success-msg, .error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

.success-msg {
    color: #270;
    background-color: #dff2bf;
}

.error-msg {
    color: #d8000c;
    background-color: #ffbaba;
}
